/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.example-container {

}

.mat-column-actions {
  width: 80px;
}

.bs-menus{
  padding: 0 35px;
}
